/* im taking h1, h2, and h3 and aligning them to the center of the page */
h1, h2, h3{
    text-align: center;
}

/* making the background of the page black */
hr{
    height: 2px;
    border: none;
    background-color: black;
    width: 700px;
}

/* taking away the margins of the page to reduce any unnecessary space and giving it a new color */
body{
    margin: 0;
    background-color: black;
}

/* setting the margins for the header */
.top{
    width: 980px;
    margin: auto;
    color: #708d81;
}


main{ background-color: #708d81;
    padding-top: 0.5em;
    padding-bottom: 0.5em;}
   
/* changing the font color and padding on my paragraphes so give it a new look */
p{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 0.7em;
}

/* centering the image in the middle of the page so it looks fits better on the page */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
  }

  /* styling links */
    a{ color: black;}
  a:hover {color: brown; }
 

/* centeing the footer to the rest of the portfolio */
footer{
    text-align: center;
    color: #aed9e0;
}
